@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/* .body{
  font-family: 'Montserrat', sans-serif;
} */
.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  margin-top: 50px;
  box-shadow: 0 0 10px gray;
  padding: 15px;
}


.text-center{
  text-align: center;
}

.expense-contaner{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
}


.transaction-form input{
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
}

.transaction-list{
  margin: 0 ;
  padding: 0;
}

.transaction-list > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 5px 2px;
  background-color: white;
  margin: 5px 5px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;

}

.dosis{
  font-family: 'Dosis', sans-serif;

}

.montserrat{
  font-family: 'Montserrat', sans-serif;

}

.button {
  background-color: #9c88ff;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  margin: 10px 0 30px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%
}
